/* ------------------------------------------------------------------- */
/* Table of Contents
-----------------
1. Import Fonts
2. Base Styles
    2.1 Root Variables
    2.2 Reset Styles
    2.3 Typography
    2.4 Header Styles
    2.5 Button and Link Styles
3. Layout Styles
    3.1 General Layout
    3.2 Back Button Styling
4. Interactive Elements
    4.1 CTA Buttons
5. Homepage Styles
6. Responsive Design Adjustments
7. Footer Styles
8. Hangman Game Styles
9. Minesweeper Game Styles
*/
/* ------------------------------------------------------------------- */



/* ------------------------------------------------------------------- */
/* ----------------- 1. Import Fonts --------------------------------- */
/* ------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* ------------------------------------------------------------------- */
/* ----------------- 2. Base Styles --------------------------------- */
/* ------------------------------------------------------------------- */

/* 2.1 Root Variables */
:root {
    --gray-background: #DDD;
    --border-radius: 0.4rem;
}

/* 2.2 Reset Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono';
}

body {
    min-height: 100%;
}

/* 2.3 Typography */
*, h1, h2, p {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-weight: normal;
}

h1 {
    padding: 4rem 0;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}

p {
    font-size: 1.8rem;
}

/* 2.4 Header Styles */
header p {
    text-align: right;
    margin: 1rem;
}

.capstone {
    font-weight: lighter;
}

/* 2.5 Button and Link Styles */
a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.meet-the-team {
    display: block;
}

button, .start-game {
    border-radius: var(--border-radius);
    font-weight: bold;
}

.start-game {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    border: black;
}

/* ------------------------------------------------------------------- */
/* ----------------- 3. Layout Styles ------------------------------- */
/* ------------------------------------------------------------------- */

/* 3.1 General Layout */
.homepage {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: var(--gray-background);
}

#nav-desktop-tablet {
    display: flex;
    padding: 2.5rem;
    font-size: 2rem;
    gap: 2.5rem;
}

#nav-desktop-tablet * {
    color: #000000;
    font-size: 2rem;
}

.capstone {
    margin-left: auto;
}

/* meet the team stylings */

.meet-the-team {
    font-size: 3rem;
}
.profile img {
    float: left;
}

.profile-info {
    padding: 6rem;
}

.repeat-name {
    font-size: 2rem;
    font-weight: bold;
}

.profile-info h2 {
    font-size: 2rem;
}

/* documentation stylings */
.documents h2 {
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
}

/* ------------------------------------------------------------------- */
/* ----------------- 4. Interactive Elements ------------------------- */
/* ------------------------------------------------------------------- */

/* 4.1 CTA Buttons */
.start-game, .meet-the-team, .toggle-profile {
    border-radius: var(--border-radius);
    display: block;
}

.start-game {
    background-color: black;
    color: white;
    text-decoration: none;
}

/* ------------------------------------------------------------------- */
/* ----------------- 5. Homepage Styles --------------------------- */
/* ------------------------------------------------------------------- */

/* title/text stylings */
.homepage p {
    text-align: center;
}

/* styles for section highlighting various features or sections */
.highlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.highlights article {
    padding: 10px;
    background-color: var(--gray-background);
    border-radius: var(--border-radius);
}

/* ------------------------------------------------------------------- */
/* ----------------- 6. Responsive Design Adjustments ---------------- */
/* ------------------------------------------------------------------- */

@media only screen and (max-width: 1000px) {
    #nav-desktop-tablet {
        padding: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    #nav-desktop-tablet.hidden {
        display: none;
    }

    #nav-desktop-tablet a, #nav-desktop-tablet .capstone {
        font-size: 1.8rem;
        padding: 0;
    }

    #nav-desktop-tablet .capstone {
        font-size: 1.4rem;
    }

    .capstone {
        margin-left: auto;
    }

    .homepage {
        padding: 0 1rem;
    }

    article {
        padding: 2rem 0;
    }

    article h2 {
        font-size: 1.8rem;
        text-align: center;
        font-weight: bold;
        padding-bottom: 1rem;
    }

    .game-links a {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 480px) {
    :root {
        --link-btn-font-size: 2.2rem;
        font-family: 'JetBrains Mono'; 
    }

    #nav-mobile {
        width: 100%;
        background-color: var(--gray-background);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end; 
    }

    #nav-mobile.hidden {
        display: none;
    }

    #nav-mobile button {
        border: none;
        background-color: var(--gray-background)ne;
    }

    #nav-mobile button img {
        width: 3rem;
        height: auto;
    }

    #nav-mobile div {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 100%;
    }

    .capstone {
        margin: 3rem 0 0 0;
        text-align: center;
    }

    #nav-mobile div.hidden {
        display: none;
    }

    .start-game {
        margin-top: 6rem;
        margin-bottom: 2rem;
        padding: 2rem 2.5rem;
        font-size: var(--link-btn-font-size);
    }

    a {
        font-size: var(--link-btn-font-size);
        text-decoration: none;
    }

    .back {
        margin: 1rem;
    }

    .profiles {
        margin-bottom: 3rem;
    }

    .highlights, .profiles {
        display: flex;
        flex-direction: column;
    }

    .toggle-profile, .profile {
        width: 85%;
        margin: 0.75rem auto;
        padding: 1.5rem 1.75rem;
    }

    .toggle-profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--link-btn-font-size);
        border: none;
        background-color: var(--gray-background);
    }

    .toggle-profile p {
        font-weight: bold;
        font-size: var(--link-btn-font-size);
        font-family: 'JetBrains Mono';
    }

    .toggle-profile img {
        width: 3.5rem;
        height: auto;
    }

    .repeat-name {
        display: none;
    }

    .profile {
        background-color: var(--gray-background);
        border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

    .profile img {
        display: block;
        margin: 0.5rem auto;
        float: none;
    }

    .profile-info {
        padding: 1rem;
    }

    .profile h2 {
        font-size: var(--link-btn-font-size);
        padding: 1rem 0;
    }

    /* toggle classes used in js file */
    .toggle-profile.collapse-bottom-margin {
        margin-bottom: 0;
    }
    .profile.collapse-top-margin {
        margin-top: 0;
    }
    .hidden {
        display: none;
    }
}

/* ------------------------------------------------------------------- */
/* ----------------- 7. Footer Stles ---------------------------------- */
/* ------------------------------------------------------------------- */

/* Footer Styles */
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
    background-color: var(--gray-background);
    font-size: 0.8rem;
}

.footer-links, .footer-legal, .footer-university {
    margin: 0 10px;
    padding: 5px;
    flex: 1 1 auto;
}

.footer-links ul {
    display: flex;
    padding: 0;
    list-style: none;
    align-items: center;
}

.footer-links li {
    margin-right: 15px;
}

.footer-links li:last-child {
    margin-right: 0;
}

.footer-links a {
    font-size: 1.8rem;
    color: inherit;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-legal {
    font-size: 1rem;
}

.footer-legal a {
    text-decoration: underline;
    font-size: 1rem;
    margin-top: 1rem;
    display: block;
}

/* Additional styles to make sure everything looks good on smaller screens */

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-links ul {
        flex-direction: column;
        margin-top: 10px;
    }
}

/* ------------------------------------------------------------------- */
/* ----------------- 8. Hangman---------------------- ---------------- */
/* ------------------------------------------------------------------- */

/* General Styles for Hangman Game Container */
.hangman-game-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Styles for Each Hangman Game Section */
.hangman-game {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Specific Container for Hangman Gameplay */
.hangman-gameplay {
    display: flex;
    justify-content: space-around;
    align-items: start;
    max-height: 600px;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.hangman-image-container {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hangman-images {
    max-width: 100%;
    height: auto;
}

/* Styles for Displaying Hangman Images */
.hangman-images {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Styling for Text Displays and Input Fields in Hangman Game */
.hangman-word-display, .hangman-wrong-guesses {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

.hangman-input {
    width: 60%;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

/* Hangman Button Styles */
.hangman-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.hangman-button:hover {
    background-color: #0056b3;
}

.letter-buttons button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #808080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.letter-buttons button:disabled {
    cursor: default;
    opacity: 0.5;
}

/* ------------------------------------------------------------------- */
/* ----------------- 8. Minesweeper ---------------------------------- */
/* ------------------------------------------------------------------- */

#minesweeper{padding:2rem}

#minesweeper #game.hidden,#minesweeper #main-menu.hidden,.hidden{display:none}

#minesweeper button{padding:.8rem 1.5rem;font-family:JetBrains Mono}

#minesweeper .return{text-decoration:underline;font-weight:700;border:none;background-color:#fff}

#minesweeper #main-menu{display:grid;grid-template-columns:1fr 1fr;gap:2rem}#main-menu>div{display:flex;flex-direction:column;align-items:center;gap:1rem}#minesweeper h2{margin-top:2rem;font-weight:700;font-size:2.4rem}#main-menu p,#minesweeper h2{text-align:center}#main-menu form{display:flex;flex-direction:column;gap:1rem}#main-menu form>div{display:flex;justify-content:space-evenly;gap:1rem}#main-menu input{border:none;border-bottom:.1rem solid;font-family:JetBrains Mono}#main-menu button{margin-top:1rem}#instructions h2,#instructions p{margin-bottom:1.5rem}#instructions h3{font-size:2.2rem}#instructions ul{padding:0 2rem}#instructions li{font-size:1.8rem;margin-bottom:1rem}#instructions a{font-size:1.8rem}#instructions button{padding:1rem 1.8rem;margin:2rem auto}#board-background{width:100%;background-color:#ededed;padding:2rem 0}#board{max-width:fit-content;margin:0 auto}#board .row{display:flex}#board button{border-radius:0;padding:.8rem;width:3rem;height:3rem;border-color:#d3d3d3}button[data-status=checked]{color:#000;font-weight:700;background-color:#fff7e4}button[data-num-adj-mines="1"]{background-color:#ffe6c6}button[data-num-adj-mines="2"]{background-color:#ffc384}button[data-num-adj-mines="3"]{background-color:#dea38b}button[data-num-adj-mines="4"]{background-color:#e9f59d}button[data-num-adj-mines="5"]{background-color:#b0eb93}button[data-num-adj-mines="6"]{background-color:#accce4}button[data-num-adj-mines="7"]{background-color:#b0a9e4}button[data-num-adj-mines="8"]{background-color:#feaae4}button[data-status=flag]{background:url(../images/minesweeper/flag.svg) no-repeat 50%;background-size:1.5rem 1.5rem}button[data-status=question]{background:url(../images/minesweeper/question.svg) no-repeat 50%;background-size:1.5rem 1.5rem}button[data-status=bomb-reveal]{background:url(../images/minesweeper/bomb.svg) no-repeat 50%;background-size:1.5rem 1.5rem}#flagged-mines-container,#info,#settings{display:flex;justify-content:center;align-items:center;gap:4rem}#info{margin-bottom:.5rem}#flagged-mines-container{gap:.2rem}#mine-svg-container{margin-bottom:.3rem}#emoji,#mine-svg-container,img[src="bomb.svg"]{width:2.5rem;height:2.5rem}#emoji{border:none;background:url(../images/minesweeper/alive.svg) no-repeat 50%;background-size:2.5rem 2.5rem}#emoji.dead{background:url(../images/minesweeper/dead.svg) no-repeat 50%;background-size:2.5rem 2.5rem}#timer span{font-size:1.8rem}#settings{flex-direction:column;gap:.5rem;margin-top:.5rem}#settings .return{background-color:#ededed;font-size:1.8rem;font-weight:400}dialog{border-color:grey;border-radius:1rem;margin:auto;padding:2rem}dialog div{display:flex;flex-direction:column;align-items:center;gap:1rem}dialog p{text-align:center}dialog button{margin:0 auto}


/* game page stuff */
.game-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.game-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    width: 150px;
}

.game-link:hover {
    background-color: #0056b3;
}

.game-link img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .game-link {
        padding: 8px 16px;
        font-size: smaller;
    }
}
