/* Table of Contents
-----------------
1. Import Fonts
2. Base Styles
    2.1 Root Variables
    2.2 Reset Styles
    2.3 Typography
    2.4 Header Styles
3. Layout Styles
    3.1 General Layout
    3.2 Back Button Styling
4. Interactive Elements
    4.1 Links and Buttons
    4.2 CTA Buttons
5. Homepage Highlights
6. Responsive Design Adjustments
7. Footer Styles
*/

/* ------------------------------------------------------------------- */



/* ------------------------------------------------------------------- */
/* ----------------- 1. Import Fonts --------------------------------- */
/* ------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* ------------------------------------------------------------------ */
/* ----------------- 2. Base Styles --------------------------------- */
/* ------------------------------------------------------------------ */

/* 2.1 Root Variables */
:root {
    --gray-background: #DDD; /* sets a light grey background color for elements like toggle sections */
    --border-radius: 0.4rem; /* standard border radius for rounded corners on elements */
    --link-btn-font-size: 2.2rem; /* base font size for links and buttons, particularly on smaller screens */
}

/* 2.2 Reset Styles */
html, body {
    height: 100%; /* ensures full viewport height coverage */
    margin: 0; /* resets margin to 0 to avoid default browser spacing */
    padding: 0; /* resets padding to 0 to ensure layout consistency */
    font-family: 'JetBrains Mono'; /* sets JetBrains Mono as the primary typeface for improved readability */
}

body {
    min-height: 100%; /* guarantees that the body element at least equals the viewport height */
}

/* 2.3 Typography */
*, h1, h2, p {
    box-sizing: border-box; /* includes padding and border in the element's total width and height */
    padding: 0; /* eliminates padding to allow for explicit spacing control */
    margin: 0; /* removes margin to prevent unexpected spacing */
    font-size: 10px; /* establishes a small base font size, scalable with media queries */
    font-weight: normal; /* sets a normal font weight to maintain text uniformity */
}

h1 {
    font-weight: bold; /* emphasizes header one text by making it bold */
    text-align: center; /* centers header text horizontally within its container */
}

p {
    font-size: 1.8rem; /* sets paragraph text to a larger, more readable size */
}

/* 2.4 Header Styles */
header p {
    text-align: right; /* right-aligns text within header paragraphs for a clean, aligned look */
    margin: 1rem; /* provides space around header paragraphs to visually separate from other content */
}

/* ------------------------------------------------------------------ */
/* ----------------- 3. Layout Styles ------------------------------- */
/* ------------------------------------------------------------------ */

/* 3.1 General Layout */
.homepage {
    height: 80vh; /* sets homepage content height to 80% of the viewport height */
    display: flex; /* enables flexible box layout for direct children */
    flex-direction: column; /* stacks children vertically */
    align-items: center; /* horizontally centers children in the container */
    justify-content: center; /* vertically centers children in the container */
}

/* 3.2 Back Button Styling */
.back {
    display: flex; /* enables flexbox layout, offering flexible container sizing */
    align-items: center; /* centers items vertically within the container */
    justify-content: flex-start; /* aligns items to the start of their container, left by default */
    padding: 5px; /* adds padding around the content for spacing */
}

/* styling for back button image */
.back img[src="back-arrow.svg"] {
    height: .25rem; /* sets a fixed height for the back arrow image */
    width: auto; /* seeps the image's aspect ratio intact */
    padding-right: 0.3rem; /* adds right padding to space out text from the image */
}

/* styling for back button text */
.back p {
    font-size: .5rem; /* sets a smaller font size for text clarity */
    margin: 0; /* resets margin to zero to control spacing explicitly */
}

/* ------------------------------------------------------------------- */
/* ----------------- 4. Interactive Elements ------------------------- */
/* ------------------------------------------------------------------- */

/* 4.1 Links and Buttons */
a, button {
    text-decoration: none; /* removes underlines from links and buttons for a cleaner look */
    font-weight: bold; /* makes text bold to highlight interactive elements */
}

/* 4.2 CTA Buttons */
.start-game, .meet-the-team, .toggle-profile {
    border-radius: var(--border-radius); /* applies a consistent rounded corner radius */
    display: block; /* makes elements block-level for easier layout management */
}

/* specific styles for 'Start Game' button */
.start-game {
    background-color: black; /* sets a strong contrast background color */
    color: white; /* ensures text is easily readable against the dark background */
    text-decoration: none; /* prevents any text underlining */
}

/* ------------------------------------------------------------------- */
/* ----------------- 5. Homepage Highlights--------------------------- */
/* ------------------------------------------------------------------- */

/* styles for section highlighting various features or sections */
.highlights {
    display: grid; /* utilizes grid layout for structural arrangement */
    grid-template-columns: repeat(3, 1fr); /* divides into three columns of equal width */
    gap: 20px; /* sets gap between grid items for spacing */
    margin: 20px 0; /* vertical margin for separation from other content */
}

.highlights article {
    padding: 10px; /* inner padding for content separation within articles */
    background-color: var(--gray-background); /* light grey background for visual distinction */
    border-radius: var(--border-radius); /* rounded corners for a softer, more aesthetic appearance */
}

/* call to action button styles */
.cta-buttons {
    display: flex; /* enables flexible box layout for direct children */
    justify-content: center; /* horizontally centers buttons within the container */
    gap: 20px; /* provides spacing between individual buttons */
    margin-top: 20px; /* top margin for vertical spacing from preceding elements */
}

.cta-buttons a {
    padding: 10px 20px; /* padding inside each button for text spacing */
    background-color: #007BFF; /* bright blue background to attract attention */
    color: white; /* white text for contrast and readability */
    text-decoration: none; /* ensures text is not underlined */
    border-radius: var(--border-radius); /* consistent rounded corners for aesthetic cohesion */
}


/* ----------------- 6. Responsive Design Adjustments ------------------------------ */

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 5.5rem; /* increases header font size for visibility on small screens */
    }

    .start-game, a {
        font-size: var(--link-btn-font-size); /* ensures link and button text scales appropriately */
    }

    .profiles, .highlights {
        display: flex; /* changes layout to flex for better vertical stacking */
        flex-direction: column; /* ensures elements are stacked vertically under narrow conditions */
    }

    .toggle-profile, .profile {
        width: 85%; /* adjusts profile width for mobile readability */
        margin: 0.75rem auto; /* centers profiles and provides vertical spacing */
        padding: 1.5rem 1.75rem; /* increases padding for touch accessibility and content spacing */
        display: flex; /* uses flexbox for layout inside each profile */
        justify-content: space-between; /* distributes space between elements inside profiles */
        background-color: var(--gray-background); /* maintains background color consistency */
    }

    .toggle-profile img {
        width: .25rem; /* adjusts toggle icon size for consistency */
        height: auto; /* maintains icon aspect ratio */
    }

    .profile img {
        display: block; /* ensures images are block-level for better layout control */
        margin: 0.5rem auto; /* centers images and provides vertical spacing */
    }
}

.hidden {
    display: none; /* used for toggling visibility of elements, typically via JavaScript */
}

.collapse-top-margin, .collapse-bottom-margin {
    margin-top: 0; /* eliminates top margin when elements are visually collapsed */
    margin-bottom: 0; /* removes bottom margin to maintain tight layout when collapsed */
}


/*----------------- ///////////////////////// FOOTER STYLES -----------------*/

/* Footer Styles */
.footer-container {
    display: flex; /* yse flexbox for horizontal alignment */
    justify-content: center; /* center content horizontally */
    align-items: center; /* center content vertically */
    flex-wrap: wrap; /* allow items to wrap onto the next line on smaller screens */
    text-align: center; /* ensure text is centered */
    padding: 20px; /* add padding for spacing */
    background-color: var(--gray-background); /* use your root variable for consistent styling */
    font-size: 0.8rem; /* smaller font size as requested */
}

.footer-links, .footer-legal, .footer-university {
    margin: 0 10px; /* adds horizontal margin for separation */
    padding: 5px; /* adds padding for visual space */
    flex: 1 1 auto; /* flex grow, shrink and basis set to auto for flexibility */
}

.footer-links ul {
    display: flex; /* make the list horizontal */
    padding: 0; /* remove default padding */
    list-style: none; /* remove list bullets */
    align-items: center; /* vertically align list items */
}

.footer-links li {
    margin-right: 15px; /* right margin for spacing between links */
}

.footer-links li:last-child {
    margin-right: 0; /* remove margin for the last item */
}

.footer-links a {
    color: inherit; /* links inherit the color from parent for consistency */
    text-decoration: none; /* no underline */
}

.footer-links a:hover {
    text-decoration: underline; /* underline on hover for better usability */
}

.footer-legal a {
    text-decoration: underline; /* ensures links are clearly indicated */
}

/* Additional styles to make sure everything looks good on smaller screens */

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* stack footer content vertically on smaller screens */
    }

    .footer-links ul {
        flex-direction: column; /* Stack links vertically */
        margin-top: 10px; /* top margin for separation from other content */
    }
}