@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/*///////////////////////// BASE STYLES ////////////////////////////*/
/* declaring some variables */
:root {
    --gray-background: #DDD;
    --border-radius: 0.4rem;
}

/* setting/resetting styles on all elements */
html {
    height: 100%;
}

body {
    min-height: 100%;
}

*, h1, h2 {
    font-family: 'JetBrains Mono';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: normal
}

h1 {
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 1.8rem;
}

header p {
    text-align: right;
    margin: 1rem;
}

/* home page styles */
.homepage {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* styles for buttons and links */
a {
    text-decoration: underline;
    font-weight: bold;
}

a.meet-the-team {
    display: block;
}

button, .start-game {
    border-radius: var(--border-radius);
    font-weight: bold;
}

.start-game {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    border: black;
}

.toggle-profile {
    display: none;
}

/* styles for back link on Hangman and Meet the Team pages */
.back {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.back img[src="back-arrow.svg"] {
    height: 3.5rem;
    width: auto;
    padding: 0 1.5rem;
}

.back p {
    font-size: 2.2rem;
    font-weight: bold;
}

/*//////////////////////////// DESKTOP STYLES //////////////////////*/
/* insert desktop styles here */
h1 {
    font-size: 6.5rem;
}

/* Homepage styles */
.start-game {
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 2rem 2.5rem;
    font-size: 1.5rem;
}

.meet-the-team {
    font-size: 1.5rem;
}

/* Meet the Team styles */
h1.meet-the-team {
    font-size: 3.5rem;
    margin: 3rem 0;
}

h2 {
    font-size: 2rem;
}

.repeat-name {
    font-size: 2rem;
    font-weight: bold;
}

img {
    float: left;
}

.profile-info {
    padding: 2rem;
}

/*/////////////////////////// TABLET STYLES ////////////////////////*/
@media only screen and (max-width: 900px) {
    /* insert tablet styles here */
}

/*/////////////////////////// MOBILE STYLES ///////////////////////*/
@media only screen and (max-width: 480px) {
    :root {
        --link-btn-font-size: 2.2rem;
    }

    h1 {
        font-size: 5.5rem;
    }

    /* Home page styles */
    .start-game {
        margin-top: 6rem;
        margin-bottom: 2rem;
        padding: 2rem 2.5rem;
        font-size: var(--link-btn-font-size);
    }

    a {
        font-size: var(--link-btn-font-size);
    }

    /* Game/Meet the Team styles */
    .back {
        margin: 1rem;
    }

    /* Meet the Team styles */

    h1.meet-the-team {
        font-size: 3.5rem;
        margin: 3rem 0;
    }

    profiles {
        display: flex;
        flex-direction: column;
    }
    
    .toggle-profile, .profile {
        width: 85%;
        margin: 0.75rem auto;
        padding: 1.5rem 1.75rem;
    }

    .toggle-profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        font-size: var(--link-btn-font-size);
        border: none;
        background-color: var(--gray-background);
    }

    .toggle-profile p {
        font-weight: bold;
        font-size: var(--link-btn-font-size);
    }

    .toggle-profile img {
        width: 3.5rem;
        height: auto;
    }

    .repeat-name {
        display: none;
    }

    .profile {
        background-color: var(--gray-background);
        border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

    .profile img {
        display: block;
        margin: 0.5rem auto;
    }

    .profile h2 {
        font-size: var(--link-btn-font-size);
        padding: 1rem 0;
    }

    /* toggle classes used in js file */
    .toggle-profile.collapse-bottom-margin {
        margin-bottom: 0;
    }
    .profile.collapse-top-margin {
        margin-top: 0;
    }
    .hidden {
        display: none;
    }
}

/* .homepage {
    position: relative;
    top: 200px;
    text-align: center;
} */

/* .back {
    position: relative;
    float: left;
} */

/* img {
    float: left;
    margin-right: 10px;
} */

/* .profile {
    height: 300px;
} */